@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Colors */
    --color-background: #F7F7F5;
    --color-fill: #FFFFFF; 
    --color-primary: #0A0A0A;
    --color-secondary: #5A5A5A;
    --color-tertiary: #C7C7C6; 

    /* Typography */
    --font-commit-mono: 'CommitMono', monospace;
    --font-tiempos-headline: 'TiemposHeadline', serif;
    --font-tiempos-text: 'TiemposText', serif;
    --font-size-body: 1rem;
    --font-size-heading: 2.074rem;
    --font-size-subheading: 1.2rem;
    --line-height-body: 1.5;
    --line-height-headings: 1.35;

    /* Spacing */
    --spacing-0: 0.25rem;
    --spacing-1: 0.5rem;
    --spacing-2: 0.8rem;
    --spacing-3: 1rem;
    --spacing-4: 1.5rem;
    --spacing-5: 4rem;

    /* Layout */
    --max-width-default: 58rem;
    --max-width-narrow: 36rem;

    /* Shadcn Colors */
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
  }

  /* Responsive font sizes */
  html {
    font-size: 12px;
  }

  @media (min-width: 992px) { 
    html { 
      font-size: 14px; 
    } 
  }

  @media (min-width: 1440px) { 
    html { 
      font-size: 16px; 
    } 
  }

  /* Typography styles */
  h1 { 
    @apply text-heading font-tiempos-headline text-primary-color; 
  }

  h2 { 
    @apply text-subheading font-tiempos-headline text-primary-color; 
  }

  .b_mono { 
    @apply text-body font-commit-mono text-primary-color; 
  }

  .b_serif { 
    @apply text-body font-tiempos-text text-primary-color; 
  }

  /* Global styles */
  * { 
    @apply border-border; 
  }

  body { 
    @apply bg-background text-foreground m-0;
  }
}

@layer utilities {
  /* Text utilities */
  .text-all-caps { 
    @apply uppercase; 
  }

  .text-balance { 
    text-wrap: balance; 
  }

  .text-underline { 
    @apply underline; 
  }

  /* Layout utilities */
  .page-container {
    width: 100%;
    max-width: calc(var(--max-width-default) + 40px); /* 58rem + 40px for margins */
    margin: 0 auto;
    padding: 4rem 20px 20px; /* Default padding for smaller screens */
  }

  .page-container-narrow { 
    width: 100%;
    max-width: calc(var(--max-width-narrow) + 40px); 
    margin: 0 auto;
    padding: 4rem 20px 20px;
  }

  @media (min-width: 768px) {
    .page-container,
    .page-container-narrow {
      max-width: calc(var(--max-width-default) + 4rem);
      padding: 8rem 2rem 2rem;
    }
  }

  .b_mono a.link-underline-body, 
  .b_serif a.link-underline-body {
    @apply underline underline-offset-2 hover:no-underline;
  }
}