@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Font families */
    --font-commit-mono: 'CommitMono', monospace;
    --font-tiempos-headline: 'TiemposHeadline', serif;
    --font-tiempos-text: 'TiemposText', serif;

    /* Colors */
    --color-background: #F7F7F5;
    --color-fill: #FFFFFF; 
    --color-primary-text: #0A0A0A;
    --color-secondary-text: #454545;

    /* Font sizes and line heights */
    --font-size-body: 1rem;
    --font-size-heading: 2.074rem;
    --font-size-subheading: 1.2rem;
    
    --line-height-body: 1.5;
    --line-height-headings: 1.35;

    /* Breakpoints */
    --screen-xs: 320px;
    --screen-sm: 480px;
    --screen-md: 768px;
    --screen-lg: 1024px;
    --screen-xl: 1440px;
    --screen-2xl: 1920px;
  }
 
  h1 {
    @apply text-heading font-tiempos-headline text-primary-text;
  }
  h2 {
    @apply text-subheading font-tiempos-headline text-primary-text;
  }
  a {
    @apply text-primary-text underline hover:text-secondary-text;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
